/src/main/resources/DB/Database/
/src/main/resources/DB/Database/log
/src/main/resources/DB/Database/seg()
/src/main/resources/DB/Database/tmp
/src/main/resources/DB/derby.log
/src/main/resources/DB/derby.properties

/src/main/resources/DB/
